@{
	ViewData["Title"] = "Login";
}
<div class="grid">
	<div class="row">
		<div class="cell-4"></div>
		<div class="cell-4">
			<form class="grid-form">
				<h6 class="createTitle">Log in</h6>
				<div class="form-group">
					<label class="label-input">Email:</label>
					<input type="email">
				</div>
				<div class="form-group">
					<label class="label-input">Password:</label>
					<input type="password">
				</div>
				<div class="form-actions">
					<button type="submit" class="bg-custom fg-white">Log in</button>
					<button type="button">Cancel</button>
				</div>
			</form>
		</div>
		<div class="cell-4"></div>
	</div>
</div>
			
