@model NewCustomerDto

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4 class="createTitle">Customer</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" data-role="validator">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="FirstName" class="label-input">Name</label>
				<input asp-for="FirstName" class="form-control" placeholder="Enter a name"
					   data-informer="Enter a valid name"
					   data-role="materialinput" data-cls-line="bg-custom"
					   data-cls-informer="fg-custom" data-validate="required" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="label-input">Surname</label>
				<input asp-for="LastName" class="form-control" placeholder="Enter a surname"
					   data-informer="Enter a valid surname"
					   data-role="materialinput" data-cls-line="bg-custom"
					   data-cls-informer="fg-custom" data-validate="required" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber" class="label-input">Phone</label>
				<input asp-for="PhoneNumber" class="form-control" placeholder="Enter a phone number"
					   data-informer="Enter a valid phone number"
					   data-role="materialinput" data-cls-line="bg-custom"
					   data-cls-informer="fg-custom" data-validate="required" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="label-input">Email</label>
				<input asp-for="Email" class="form-control" placeholder="Enter an email"
					   data-informer="Enter a valid email"
					   data-role="materialinput" data-cls-line="bg-custom"
					   data-cls-informer="fg-custom" data-validate="required" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AddressId" class="label-input">Address</label>
				<select data-role="select" asp-for="AddressId" class="form-control" asp-items="ViewBag.Addresses" data-cls-option="bg-white fg-custom"
						data-cls-selected-item="bg-custom" data-validate="required"></select>
			</div>
			<div class="form-group">
				<a class="button bg-custom fg-white" asp-action="Index"><img class="IndexIcon" src="\Resources\Icons\icon_back.png"></img></a>
				<input type="submit" value="Create" class="button bg-custom2 fg-white" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
