<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - OZEsome</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/OZEsome.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
</head>
<body>
	<header>
		<div data-role="appbar" data-expand-point="md" class="fg-white" style="background-color: #00ADB5">
			<img src="\Resources\Images\OZELOGO.png" class="brand no-hover"</img>
			<ul class="app-bar-menu">
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Home" asp-action="Index">Home</a></li>
				@* <li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Home" asp-action="Login">Login</a></li> *@
				@* <li><a href="#">Calculator</a></li> *@
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Customers" asp-action="Index">Customers</a></li>
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Addresses" asp-action="Index">Address</a></li>
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Categories" asp-action="Index">Categories</a></li>
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Documents" asp-action="Index">Documents</a></li>
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Notes" asp-action="Index">Notes</a></li>
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Tasks" asp-action="Index">Tasks</a></li>
				@* <li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="User" asp-action="Index">Users</a></li> *@
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Meetings" asp-action="Index">Meetings</a></li>
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Orders" asp-action="Index">Orders</a></li>
				<li><a style="color: White; font-weight: bolder; font-family: Arial; text-shadow: 2px 2px 3px gray;" asp-controller="Products" asp-action="Index">Products</a></li>
				@* <li><a href="#">Contracts</a></li> *@
			</ul>
		</div>
	</header>
	<div class="container" style="width: 100%;">
		<main role="main">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted" style="background-color: #00ADB5;" >
		<div class="container" style="-webkit-text-fill-color: #222831">
			&copy; 2025 - OZEsome - Providing innovative solutions for a sustainable future. <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #EEEEEE"> Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.metroui.org.ua/current/metro.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
