@model OrderItemDto

@{
	ViewData["Title"] = "Edit";
}

<h4 class="createTitle">@Html.DisplayFor(modelItem => modelItem.ProductName)</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditOrderItem">
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="OrderId" />
			<input type="hidden" asp-for="ProductId" />
			<input type="hidden" asp-for="ProductName" />
			<input type="hidden" asp-for="ProductCategoryName" />
			<input type="hidden" asp-for="ProductPrice" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Quantity" class="label-input"></label>
				<input asp-for="Quantity" class="form-control" placeholder="Enter a Quantity"
					   data-informer="Enter a valid Quantity"
					   data-role="materialinput" data-cls-line="bg-custom"
					   data-cls-informer="fg-custom" />
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
			<div class="form-group">
				<a class="button bg-custom fg-white" asp-action="Index"><img class="IndexIcon" src="\Resources\Icons\icon_back.png"></a>
				<input type="submit" value="Save" class="button bg-custom2 fg-white" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
